<div class="col-lg-6">
    <div class="rbt-callto-action callto-action-default bg-color-extra2 rbt-radius shadow-1">
        <div class="row align-items-center">
            <div class="col-lg-12 col-xl-5">
                <div class="inner">
                    <div class="rbt-category mb--20">
                        <%= link_to event.category.name, category_path(event.category) %>
                    </div>
                    <h4 class="title mb--15"><%= event.name%></h4>
                    <p class="mb--15"> <%= event.description[0..70]...%></p>
                </div>
            </div>
            <div class="col-lg-12 col-xl-7">
                <div class="theme-gradient mb--10 text-end">
                    <strong>Le <%= event.date_format %></strong>
                </div>
                <div class="video-popup-wrapper mt_lg--10 mt_md--20 mt_sm--20">
                    <%= image_tag event.photo, class: "w-100 rbt-radius", alt: 'Video thumbnail' %>
                    <a class="rbt-btn rounded-player-2 sm-size popup-video position-to-top with-animation" href="<%= workshop_path(event)%>">
                        <span class="play-icon"></span>
                    </a>
                </div>
                <div class="text-end mt--10"> 
                    <strong><%= number_to_euros(event.price, 0)%></strong>
                </div>
            </div>
        </div>
    </div>
</div>

