<%= form_with(model: @workshop, class: "form") do |form| %>
  <% if @workshop.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@workshop.errors.count, "erreur(s)") %> interdit l'enregistrement :</h2>

      <ul>
        <% @workshop.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
      
  <div class="mb-3">
    <%= form.label :name, 'Nom', class: "form-label" %>
    <%= form.text_field :name, class: "form-control", required: true %>
    <div class="invalid-feedback">
      Merci de renseigner un nom.
    </div>
  </div>

<div class="mb-3">
  <%= form.label :description, class: "form-label" %>
  <%= form.text_area :description, class: "form-control custom-textarea", rows: 4, required: true %>
  <div class="invalid-feedback">
    Merci de renseigner une description.
  </div>
</div>

  <div class="mb-3">
    <%= form.check_box :event, class: "form-check-input", id: "workshop_event", data: { bs_toggle: "collapse", bs_target: "#event_date_container" } %>
    <%= form.label :event, "Atelier évènement", class: "form-check-label" %>
  </div>

  <div class="mb-3 collapse <%= 'show' if @workshop.event %>" id="event_date_container">
    <%= form.label :start_date, "Date de début", class: "form-label" %>
    <%= form.datetime_field :start_date, class: "form-control custom-textarea", required: @workshop.event %>

    <%= form.label :duration, "Durée", class: "form-label" %>
    <%= form.number_field :duration, class: "form-control", required: @workshop.event, value: 0 %>
  </div>

  <div class="mb-3">
    <%= form.label :price, 'Prix', class: "form-label" %>
    <%= form.number_field :price, class: "form-control", required: true, value: 0 %>
  </div>

  <div class="mb-3">
    <%= form.label :photo %>
    <%= form.file_field :photo %>
  </div>

  <div class="mb-3">
        <%= form.label :tags, "Tags :", class: "form-label" %>
        <div id="tag-list" class="d-flex flex-wrap gap-2 mb-3">
          <% @workshop.tags.each do |tag| %>
            <span class="badge bg-primary d-flex align-items-center destroyable">
              <%= tag.name %>
              <button type="button" class="btn-close btn-close-white ms-2 remove-tag" aria-label="Close" data-tag-id="<%= tag.id %>"></button>
            </span>
          <% end %>
          </div>
          <%= text_field_tag :tag_input, nil, class: "form-control", id: "tag-input", "data-role" => "tagsinput" %>
        </div>

  <div class="mb-3">
    <%= form.label :category_id, "Catégorie", class: "form-label" %><br>
    <%= form.collection_select :category_id, @categories, :id, :name, { include_blank: "Liste des catégories" }, class: "form-select custom-textarea", required: true %>
  </div>

  <div class="mb-3">
    <%= render 'courseitems/form_course_items', form: form %>
  </div>

  <div class="mb-3">
    <%= form.submit "Enregistrer", class: "btn btn-primary" %>
  </div>
<% end %>
