<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <%= form_with(model: workshop, class: "form") do |form| %>
        <% if workshop.errors.any? %>
          <div class="alert alert-danger">
            <h2><%= pluralize(workshop.errors.count, "error") %> prohibited this workshop from being saved:</h2>

            <ul>
              <% workshop.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= form.label :name %>
          <%= form.text_field :name, class: "form-control"%>
        </div>

        <div class="form-group">
          <%= form.label :description %>
          <%= form.text_area :description, class: "form-control"%>
        </div>

        <div class="form-group">        
          <%= form.label :start_date %>
          <%= form.datetime_field :start_date, class: "form-control" %>
        </div>


        <div class="form-group">
          <%= form.label :duration, "Duration" %>
          <%= form.number_field :duration, class: "form-control"%>
        </div>

        <div class="form-group">
          <%= form.label :price %>
          <%= form.number_field :price, class: "form-control"%>
        </div>
        <div class="form-group">
        <%= form.label :tags, "Tags:", class: "form-label" %>
        <div id="tag-list" class="d-flex flex-wrap gap-2 mb-3">
          <% @workshop.tags.each do |tag| %>
            <span class="badge bg-primary d-flex align-items-center destroyable">
              <%= tag.name %>
              <button type="button" class="btn-close btn-close-white ms-2 remove-tag" aria-label="Close" data-tag-id="<%= tag.id %>"></button>
            </span>
          <% end %>
        </div>
        <%= text_field_tag :tag_input, nil, class: "form-control", id: "tag-input", "data-role" => "tagsinput" %>
      </div>

        <div class="form-group">
          <%= form.label :category_id, "Category" %><br>
          <%= form.collection_select :category_id, @categories, :id, :name, { include_blank: "Please select" }, class: "form-control" %>
        </div>

        <%= form.submit "Save", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

