<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <%= form_with(model: workshop, class: "form") do |form| %>
        <% if workshop.errors.any? %>
          <div class="alert alert-danger">
            <h2><%= pluralize(workshop.errors.count, "error") %> prohibited this workshop from being saved:</h2>

            <ul>
              <% workshop.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= form.label :name %>
          <%= form.text_field :name, class: "form-control", placeholder: "Enter name" %>
        </div>

        <div class="form-group">
          <%= form.label :description %>
          <%= form.text_area :description, class: "form-control", placeholder: "Enter description" %>
        </div>

        <div class="form-group">        
          <%= form.label :start_date, "Start Date and Time" %>
          <%= form.datetime_field :start_date, class: "form-control" %>
        </div>


        <div class="form-group">
          <%= form.label :duration, "Duration" %>
          <%= form.number_field :duration, class: "form-control", placeholder: "Enter duration" %>
        </div>

        <div class="form-group">
          <%= form.label :price %>
          <%= form.number_field :price, class: "form-control", placeholder: "Enter price" %>
        </div>

        <div class="form-group">
          <%= form.label :tags, "Tags:" %>
          <% @tags.each do |tag| %>
            <div class="form-check">
              <%= form.check_box :tag_ids, { multiple: true, class: 'form-check-input' }, tag.id, nil %>
              <%= form.label nil, tag.name, class: 'form-check-label' %>
            </div>
          <% end %>
        </div>

        <div class="form-group">
          <%= form.label :category_id, "Category" %><br>
          <%= form.collection_select :category_id, @categories, :id, :name, { include_blank: "Please select" }, class: "form-control" %>
        </div>

        <%= form.submit "Save", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
