<h3>Ateliers</h3>
      <% if workshops %> 
      <div class="rbt-my-account-table table-responsive text-center">
        <table class="table table-bordered">
          <thead class="thead-light">
            <tr>
              <% if admin_signed_in? %>
                <th>ID</td>
              <% end %>
              <th>Name</th>
              <th scope="col">Description</th>
              <th scope="col">Start Date</th>
              <th scope="col">Actions</th>
              <% if admin_signed_in? %>
                <th>Créateur</td>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% workshops.each do |workshop| %>
              <tr>
                <%# # Admin %>
                <% if admin_signed_in? %>
                 <td><%=  workshop.id %></td>
                <% end %>
                <td><%= workshop.name %></td>
                <td><%= workshop.description %></td>
                <%# TODO: formater la date %>
                <td><%= workshop.start_date %></td>
                <%# # Boutons Action %>
                <td>
                  <%# # Admin %>
                  <% if admin_signed_in? %>
                    <%= link_to "Voir", workshop, class: "rbt-btn btn-sm" %>
                    <% if !workshop.validated %>
                      <%= button_to 'Valider cet atelier', validate_workshop_path(workshop), method: :patch, data: { confirm: 'Êtes-vous sûr ?' }, class: 'btn btn-primary' %>
                    <% end %>
                  <% end %>

                  <%# # si le current_user est inscrit %>
                  <% if current_user && workshop.user_ids.include?(current_user.id) %>
                    <%= link_to "Voir", workshop, class: "rbt-btn btn-sm" %>
                  <% end %>
                </td>
                <% if admin_signed_in? %>
                  <th><%= workshop.creator.firstname %> <%= workshop.creator.lastname %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
  <% else %>
      <p>Aucun workshops pour le moment.</p>
    <% end %> 
