<% if workshops.any? %>
  <div class="rbt-my-account-table table-responsive">
  
    <table class="table table-bordered">
      <thead class="thead-light text-center">
        <tr>
          <% if admin_signed_in? %>
            <th>ID</th>
          <% end %>
          <th>Name</th>
          <th>Start Date</th>
          <th>Actions</th>
          <% if admin_signed_in? %>
            <th>Créateur</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% workshops.reverse.each do |workshop| %>
          <tr>
            <% if admin_signed_in? %>
              <td><%= workshop.id %></td>
            <% end %>
            <td><%= workshop.name %></td>
            <td><%= workshop.event ? date_format(workshop.start_date) : '' %></td>
            <td>
              <% if admin_signed_in? %>
                <%= link_to "Voir", workshop, class: "rbt-btn btn-sm btn-gradient" %>
                <% unless workshop.validated || workshop.brouillon %>
                  <%= button_to 'Valider', validate_workshop_path(workshop), method: :patch, data: { confirm: 'Êtes-vous sûr ?' }, class: "rbt-btn btn-sm btn-gradient btn-gradient-2 mt-2" %>
                  <%= button_to 'Refuser', refuse_workshop_path(workshop), method: :patch, data: { confirm: 'Êtes-vous sûr ?' }, class: "rbt-btn btn-sm btn-gradient btn-gradient-2 mt-2"%>
                <% end %>
              <% elsif current_user && workshop.user_ids.include?(current_user.id) %>
                <%= link_to "Voir", workshop, class: "rbt-btn btn-sm btn-gradient" %>
              <% end %>
            </td>
            <% if admin_signed_in? %>
              <td><%= "#{workshop.creator.firstname} #{workshop.creator.lastname}" %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p>Aucun atelier pour le moment.</p>
<% end %>
