
    <h3>Ateliers créés <%= drafts ? "(Brouillons)" : ''%> </h3>
    <% if user_signed_in? && current_user.creator %>
      <p class='text-end'><%= link_to 'Nouveau', new_workshop_path, class: 'rbt-btn btn-sm btn-gradient mx-5' %><p>
    <% end %>                       
    <% if workshops.any? %>
      <div class="rbt-my-account-table table-responsive">
        <table class="table table-bordered">
          <thead class="thead-light">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Start Date</th>
              <th scope="col">Validé</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% workshops.each do |workshop| %>
              <tr>
                <td><%= workshop.name %></td>
                <td><%= workshop.event ? date_format(workshop.start_date) : '' %></td>
                 <td><%= workshop.validated ? 'oui' : 'non' %></td>
                <td>
                  <%= link_to "Voir", workshop, class: "rbt-btn btn-sm" %>
                  <% if user_signed_in? && current_user == @user %>
                    <%= link_to "Modifier", edit_workshop_path(workshop), class: "rbt-btn btn-sm btn-secondary" %>
                  <%= button_to workshop.activate_btn, activate_workshop_path(workshop), method: :patch, class: "rbt-btn btn-sm btn-secondary mt-2" %>

                    <%= button_to "Supprimer", workshop, method: :delete, data: { confirm: 'Are you sure?' }, class: "rbt-btn btn-sm btn-violet mt-2" %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <p>Aucun workshop créé pour le moment.</p>
    <% end %>
