

<div class="card h-75 w-25">
    <!-- Product image-->
    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="...">
    <!-- Product details-->
    <div class="card-body p-4">
        <div class="text-center">
        <!-- Status -->
        <%= workshop.status %>
            <!-- Product name-->
              <p>
                <strong>Name:</strong>
                <%= workshop.name %>
              </p>
            <!-- description-->
              <p>
                <strong>Description:</strong>
                <%= workshop.description %>
              </p>
              <!--Start date-->
              <p>
                <strong>Start_date:</strong>
                <%= date_format(workshop.start_date) %>
              </p>
              <!--Duration-->
              <p>
                <strong>Duration:</strong>
                <%= workshop.duration %>
              </p>
            <!-- Product price-->
              <p>
                  <strong>Price:</strong>
                  <%= workshop.price %> €
              </p>

              <% if workshop.tags.any? %>
                <ul>
                  <% workshop.tags.each do |tag| %>
                    <li><%= tag.name %></li>
                  <% end %>
                </ul>
              <% else %>
                <p>Cet atelier n'a pas de tags associés.</p>
              <% end %>

              <% if workshop.likes.exists?(user: current_user) %>
              <%= button_to 'Déliker', workshop_like_path(workshop), method: :delete, class: "btn btn-warning" %>
            <% else %>
            <%= button_to 'Liker', workshop_like_path(workshop), method: :post, class: "btn btn-primary" %>
            <% end %>
        </div>
    </div>
    <!-- Product actions-->
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">                               
        <%= link_to "Show this workshop", workshop, class: "btn btn-outline-dark" %>
    </div>
</div>