
<!-- Start Single Course -->
<div class="rbt-card variation-01 rbt-hover">
    <div class="rbt-card-img">
          <%= link_to workshop do %>
            <% photo =  workshop.photo.attached? ? workshop.photo : "assets/course-01.jpg" %>
              <%= image_tag photo, alt: workshop.name %>
          <% end %>
    </div>
    <div class="rbt-card-body">
        <div class="rbt-card-top">
            <div class="rbt-review">
                <div class="rating">
                  <div class="star-rating">
                    <% (1..5).each do |star| %>
                      <% if star <= workshop.average.floor %>
                        <i class="fas fa-star already_stared"></i> <!-- Étoile pleine -->
                      <% elsif star == workshop.average.floor + 1 && workshop.average % 1 >= 0.5 %>
                        <i class="fas fa-star-half-alt half_stared"></i> <!-- Étoile à moitié pleine -->
                      <% else %>
                        <i class="far fa-star empty already_stared"></i> <!-- Étoile vide -->
                      <% end %>
                    <% end %>
                  </div>
                </div>
                <span class="rating-count"><%= workshop.reviews.count %></span>
            </div>
        </div>
        <!-- Product name-->
        <h3 class="rbt-card-title"><%= link_to workshop.name, workshop %></h3>
        <ul class="rbt-meta">
            <li><i class="feather-users"></i><%= workshop.users.count %> inscrits</li>
        </ul>
        <!-- Product description-->
        <p class="rbt-card-text"><%= workshop.description[0..100]+ '...' %></p>
        <div class="rbt-author-meta mb--20">                  
            <!-- Author information-->
            <div class="rbt-author-info">
                par <%= link_to workshop.creator.firstname, public_user_path(workshop.creator) %> - <span><%= link_to workshop.category.name, category_path(workshop.category) %></span>
            </div>
        </div>
        <div class="rbt-card-bottom">
            <div class="rbt-price">
                <!-- Product price-->
                <span class="current-price"><%= number_to_euros(workshop.price, 0) %></span>
            </div>
            <!-- Link to the course-details-->
            <div>
                <%= link_to "Voir plus", workshop, class: "rbt-btn-link" %>
                <span class="btn-icon"><i class="fa-solid fa-arrow-right" style="font-size: 0.6em;"></i></span>
            </div>
        </div>
    </div>
</div>
<!-- End Single Course -->
