
    <h3>Brouillons</h3>
                                
    <% if workshops.any? %>
      <div class="rbt-my-account-table table-responsive text-center">
        <table class="table table-bordered">
          <thead class="thead-light">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Start Date</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% workshops.each do |workshop| %>
              <tr>
                <td><%= workshop.name %></td>
                <td><%= workshop.description %></td>
                <td><%= date_format(workshop.start_date) %></td>
                <td>
                  <%= link_to "Voir", workshop, class: "rbt-btn btn-sm" %>
                  <% if user_signed_in? && current_user == @user %>
                    <%= link_to "Modifier", edit_workshop_path(workshop), class: "rbt-btn btn-sm btn-secondary" %>
                    <%= button_to "Supprimer", workshop, method: :delete, data: { confirm: 'Are you sure?' }, class: "rbt-btn btn-sm btn-violet mt-2" %>
                    <%= button_to "Valider", activate_workshop_path(workshop), method: :patch, class: "rbt-btn btn-sm btn-secondary" %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <p>Aucun broullon créé pour le moment.</p>
    <% end %>
