<main class="rbt-main-wrapper">
    <!-- Start Banner Area -->
    <div class="rbt-banner-area rbt-banner-1 bg-color-black" style="background-image: url('<%= asset_path('banner-color.jpg') %>'); background-repeat: no-repeat; background-size: cover;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 pb--120 pt--70">
                    <div class="content">
                        <div class="inner">                       
                            <h1 class="title"> 
                                <span style="color: #0b00d9;">R</span><span style="color: white;">evolutionize</span> <span style="color: #0b00d9;">A</span><span style="color: white;">ll</span> <span style="color: #0b00d9;">Y</span><span style="color: white;">our</span> <span style="color: #0b00d9;">M</span><span style="color: white;">astery</span>
                            </h1>
                            <p class="text" style="color: #ebebeb;"> 
                                Plongez dans une expérience d'e-learning innovante qui bouleverse les normes établies et propulse<br> votre apprentissage vers de nouveaux sommets. Transformez vos ambitions en réalité en rejoignant <strong><br>la révolution de l'éducation</strong> aujourd'hui.
                            </p>
                            <div class="d-flex align-items-center mt-3">
                                
                                <div class="slider-btn mx-auto">
                                    <a class="rbt-moderbt-btn" href="#">
                                        <span class="moderbt-btn-text" style="color: white;">
                                            Start the revolution now
                                        </span>
                                        <span class="btn-icon"><i class="fa-solid fa-arrow-right" style="color: white;"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner Area -->

    <!-- Marge between 2 sections -->
    <div class="mt-5"></div>
    <!-- End of Marge -->

    <!-- Categories Courses -->
    <div class="rbt-categories-area bg-color-white rbt-section-gapBottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title text-center">
                                <span class="subtitle bg-primary-opacity">CATÉGORIES POPULAIRES</span>
                                <h2 class="title">Les Catégories Les Plus Polpulaires <br/> Grâce à nos Créateurs Superactifs</h2>
                            </div>
                        </div>
                    </div>

                   
                    <div class="row g-5 mt--20">
                        <!-- Start Category Box Layout  -->
                        <% @top_categories.each do |category| %>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                                <a class="rbt-cat-box rbt-cat-box-1 text-center" href= "<%= category_path(category) %>">
                                    <div class="inner">
                                        <div class="icons">
                                            <img src="assets/images/category/web-design.png" alt="Icons Images">
                                        </div>
                                        <div class="content">
                                            <h5 class="title">
                                            <%= category.name %>      
                                            </h5>
                                            <div class="read-more-btn">
                                                <span class="rbt-btn-link"> <%= category.workshops.count %> cours</span>
                                                <span class="btn-icon"><i class="fa-solid fa-arrow-right" style="color: dark; font-size: 0.6em;"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        <% end %>
                    </div>
                </div> 
            </div>

            <!-- End Category Box Layout  -->

    <!-- End Categories Courses -->






        <!-- Start Workshops Area -->
        <div class="rbt-course-area bg-color-extra2 rbt-section-gap">
            <div class="container">
                <div class="row mb--60">
                    <div class="col-lg-12">
                        <div class="section-title text-center">
                            <span class="subtitle bg-secondary-opacity">les cours les plus populaires</span>
                            <h2 class="title">Les Tops Cours Sélectionnés<br/> Par La RAYM Community</h2>
                        </div>
                    </div>
                </div>

                <!-- Start Single Course  -->
                <div class="row g-5">
                    <div class="container">
                        <div id="workshops">
                            <div class="row mb-4 justify-content-around">
                                <% @workshops.reverse.take(3).each do |workshop| %>
                                    <% if workshop.status != "passé" %>
                                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                        <%= render partial: "workshops/workshop_card", locals: {workshop: workshop} %>
                                    </div>
                                    <% end %>                                    
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div> 

      <!-- End Workshops Area -->



        <!-- Start Workoshop live Area -->
        <div class="rbt-course-area bg-color-white rbt-section-gap">
            <div class="container">
                <div class="row mb--60">
                    <div class="col-lg-12">
                        <div class="section-title text-center">
                            <span class="subtitle bg-coral-opacity">Les Prochains Ateliers </span>
                            <h2 class="title">En Intéraction Avec Nos Formateurs<br/>Live Streaming</h2>
                        </div>
                    </div>
                </div>


      <!-- Start Call To Action  -->
        <div class="rbt-callto-action-area mt-5">
            <div class="container">
                <div class="row g-5">
                    <div class="col-lg-6">
                        <div class="rbt-callto-action callto-action-default bg-color-white rbt-radius shadow-1">
                            <div class="row align-items-center">
                                <div class="col-lg-12 col-xl-5">
                                    <div class="inner">
                                        <div class="rbt-category mb--20">
                                            <a href="#">Typescript-React</a>
                                        </div>
                                        <h4 class="title mb--15">Les types en React TypeScript</h4>
                                        <p class="mb--15">La clé pour un code plus robuste.</p>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-xl-7">
                                    <div class="video-popup-wrapper mt_lg--10 mt_md--20 mt_sm--20">
                                        <img class="w-100 rbt-radius" src="assets/video-01.jpg" alt="Video Images">
                                        <a class="rbt-btn rounded-player-2 sm-size popup-video position-to-top with-animation" href="https://www.youtube.com/watch?v=nA1Aqp0sPQo">
                                            <span class="play-icon"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-6">
                        <div class="rbt-callto-action callto-action-default bg-color-white rbt-radius shadow-1">
                            <div class="row align-items-center">
                                <div class="col-lg-12 col-xl-5">
                                    <div class="inner">
                                        <div class="rbt-category mb--20">
                                            <a href="#">Python Débutant</a>
                                        </div>
                                        <h4 class="title mb--15">Bases et prérequis</h4>
                                        <p class="mb--15">Dans ce tutoriel sur la programmation python, vous allez apprendre Python à partir de zéro.</p>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-xl-7">
                                    <div class="video-popup-wrapper mt_lg--10 mt_md--20 mt_sm--20">
                                        <img class="w-100 rbt-radius" src="assets/video-01.jpg" alt="Video Images">
                                        <a class="rbt-btn rounded-player-2 sm-size popup-video position-to-top with-animation" href="https://www.youtube.com/watch?v=nA1Aqp0sPQo">
                                            <span class="play-icon"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Call To Action  -->

        <!-- End Workoshop live Area -->




        <!-- Start Teacher Area -->
        <div class="rbt-team-area bg-color-white rbt-section-gap">
            <div class="container">
                <div class="row mb--60">
                    <div class="col-lg-12">
                        <div class="section-title text-center">
                            <span class="subtitle bg-violet-opacity">Nos Formateurs</span>
                            <h2 class="title">La RAYM Community Les Adore</h2>
                        </div>
                    </div>
                </div>
                <div class="row g-5">

                    <div class="col-lg-7">
                        <!-- Start Tab Content  -->
                        <div class="rbt-team-tab-content tab-content" id="myTabContent">
                            <div class="tab-pane fade active show" id="team-tab1" role="tabpanel" aria-labelledby="team-tab1-tab">
                                <div class="inner">
                                    <div class="rbt-team-thumbnail">
                                        <div class="thumb">
                                            <img src="assets/team-01.jpg" alt="Testimonial Images">
                                        </div>
                                    </div>
                                    <div class="rbt-team-details">
                                        <div class="author-info">
                                            <h4 class="title">Mames Mary</h4>
                                            <span class="designation theme-gradient">English Teacher</span>
                                            <span class="team-form">
                                <i class="feather-map-pin"></i>
                                <span class="location">CO Miego, AD,USA</span>
                                            </span>
                                        </div>
                                        <p>Histudy The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
                                        <ul class="social-icon social-default mt--20 justify-content-start">
                                            <li><a href="https://www.facebook.com/">
                                                    <i class="feather-facebook"></i>
                                                </a>
                                            </li>
                                            <li><a href="https://www.twitter.com">
                                                    <i class="feather-twitter"></i>
                                                </a>
                                            </li>
                                            <li><a href="https://www.instagram.com/">
                                                    <i class="feather-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="rbt-information-list mt--25">
                                            <li>
                                                <a href="#"><i class="feather-phone"></i>+1-202-555-0174</a>
                                            </li>
                                            <li>
                                                <a href="mailto:hello@example.com"><i class="feather-mail"></i>example@gmail.com</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="team-tab2" role="tabpanel" aria-labelledby="team-tab2-tab">
                                <div class="inner">
                                    <div class="rbt-team-thumbnail">
                                        <div class="thumb">
                                            <img src="assets/team-02.jpg" alt="Testimonial Images">
                                        </div>
                                    </div>
                                    <div class="rbt-team-details">
                                        <div class="author-info">
                                            <h4 class="title">Robert Song</h4>
                                            <span class="designation theme-gradient">Math Teacher</span>
                                            <span class="team-form">
                                <i class="feather-map-pin"></i>
                                <span class="location">CO Miego, AD,USA</span>
                                            </span>
                                        </div>
                                        <p>Education The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
                                        <ul class="social-icon social-default mt--20 justify-content-start">
                                            <li><a href="https://www.facebook.com/">
                                                    <i class="feather-facebook"></i>
                                                </a>
                                            </li>
                                            <li><a href="https://www.twitter.com">
                                                    <i class="feather-twitter"></i>
                                                </a>
                                            </li>
                                            <li><a href="https://www.instagram.com/">
                                                    <i class="feather-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="rbt-information-list mt--25">
                                            <li>
                                                <a href="#"><i class="feather-phone"></i>+1-202-555-0174</a>
                                            </li>
                                            <li>
                                                <a href="mailto:hello@example.com"><i class="feather-mail"></i>example@gmail.com</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="team-tab3" role="tabpanel" aria-labelledby="team-tab3-tab">
                                <div class="inner">
                                    <div class="rbt-team-thumbnail">
                                        <div class="thumb">
                                            <img src="assets/team-03.jpg" alt="Testimonial Images">
                                        </div>
                                    </div>
                                    <div class="rbt-team-details">
                                        <div class="author-info">
                                            <h4 class="title">William Susan</h4>
                                            <span class="designation theme-gradient">React Teacher</span>
                                            <span class="team-form">
                                <i class="feather-map-pin"></i>
                                <span class="location">CO Miego, AD,USA</span>
                                            </span>
                                        </div>
                                        <p>React The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
                                        <ul class="social-icon social-default mt--20 justify-content-start">
                                            <li><a href="https://www.facebook.com/">
                                                    <i class="feather-facebook"></i>
                                                </a>
                                            </li>
                                            <li><a href="https://www.twitter.com">
                                                    <i class="feather-twitter"></i>
                                                </a>
                                            </li>
                                            <li><a href="https://www.instagram.com/">
                                                    <i class="feather-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="rbt-information-list mt--25">
                                            <li>
                                                <a href="#"><i class="feather-phone"></i>+1-202-555-0174</a>
                                            </li>
                                            <li>
                                                <a href="mailto:hello@example.com"><i class="feather-mail"></i>example@gmail.com</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="team-tab4" role="tabpanel" aria-labelledby="team-tab4-tab">
                                <div class="inner">
                                    <div class="rbt-team-thumbnail">
                                        <div class="thumb">
                                            <img src="assets/team-04.jpg" alt="Testimonial Images">
                                        </div>
                                    </div>
                                    <div class="rbt-team-details">
                                        <div class="author-info">
                                            <h4 class="title">Soseph Sara</h4>
                                            <span class="designation theme-gradient">Web Teacher</span>
                                            <span class="team-form">
                                <i class="feather-map-pin"></i>
                                <span class="location">CO Miego, AD,USA</span>
                                            </span>
                                        </div>
                                        <p>Histudy The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
                                        <ul class="social-icon social-default mt--20 justify-content-start">
                                            <li><a href="https://www.facebook.com/">
                                                    <i class="feather-facebook"></i>
                                                </a>
                                            </li>
                                            <li><a href="https://www.twitter.com">
                                                    <i class="feather-twitter"></i>
                                                </a>
                                            </li>
                                            <li><a href="https://www.instagram.com/">
                                                    <i class="feather-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="rbt-information-list mt--25">
                                            <li>
                                                <a href="#"><i class="feather-phone"></i>+1-202-555-0174</a>
                                            </li>
                                            <li>
                                                <a href="mailto:hello@example.com"><i class="feather-mail"></i>example@gmail.com</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="team-tab5" role="tabpanel" aria-labelledby="team-tab5-tab">
                                <div class="inner">
                                    <div class="rbt-team-thumbnail">
                                        <div class="thumb">
                                            <img src="assets/team-05.jpg" alt="Testimonial Images">
                                        </div>
                                    </div>
                                    <div class="rbt-team-details">
                                        <div class="author-info">
                                            <h4 class="title">Thomas Dal</h4>
                                            <span class="designation theme-gradient">Graphic Teacher</span>
                                            <span class="team-form">
                                <i class="feather-map-pin"></i>
                                <span class="location">CO Miego, AD,USA</span>
                                            </span>
                                        </div>
                                        <p>Histudy The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
                                        <ul class="social-icon social-default mt--20 justify-content-start">
                                            <li><a href="https://www.facebook.com/">
                                                    <i class="feather-facebook"></i>
                                                </a>
                                            </li>
                                            <li><a href="https://www.twitter.com">
                                                    <i class="feather-twitter"></i>
                                                </a>
                                            </li>
                                            <li><a href="https://www.instagram.com/">
                                                    <i class="feather-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="rbt-information-list mt--25">
                                            <li>
                                                <a href="#"><i class="feather-phone"></i>+1-202-555-0174</a>
                                            </li>
                                            <li>
                                                <a href="mailto:hello@example.com"><i class="feather-mail"></i>example@gmail.com</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="team-tab6" role="tabpanel" aria-labelledby="team-tab6-tab">
                                <div class="inner">
                                    <div class="rbt-team-thumbnail">
                                        <div class="thumb">
                                            <img src="assets/team-06.jpg" alt="Testimonial Images">
                                        </div>
                                    </div>
                                    <div class="rbt-team-details">
                                        <div class="author-info">
                                            <h4 class="title">Christopher Lisa</h4>
                                            <span class="designation theme-gradient">English Teacher</span>
                                            <span class="team-form">
                                <i class="feather-map-pin"></i>
                                <span class="location">CO Miego, AD,USA</span>
                                            </span>
                                        </div>
                                        <p>Histudy The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
                                        <ul class="social-icon social-default mt--20 justify-content-start">
                                            <li><a href="https://www.facebook.com/">
                                                    <i class="feather-facebook"></i>
                                                </a>
                                            </li>
                                            <li><a href="https://www.twitter.com">
                                                    <i class="feather-twitter"></i>
                                                </a>
                                            </li>
                                            <li><a href="https://www.instagram.com/">
                                                    <i class="feather-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="rbt-information-list mt--25">
                                            <li>
                                                <a href="#"><i class="feather-phone"></i>+1-202-555-0174</a>
                                            </li>
                                            <li>
                                                <a href="mailto:hello@example.com"><i class="feather-mail"></i>example@gmail.com</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="top-circle-shape"></div>
                        </div>
                        <!-- End Tab Content  -->
                    </div>

                    <div class="col-lg-5">
                        <!-- Start Tab Nav  -->
                        <ul class="rbt-team-tab-thumb nav nav-tabs" id="myTab" role="tablist">
                            <li>
                                <a class="active" id="team-tab1-tab" data-bs-toggle="tab" data-bs-target="#team-tab1" role="tab" aria-controls="team-tab1" aria-selected="true">
                                    <div class="rbt-team-thumbnail">
                                        <div class="thumb">
                                            <img src="assets/team-01.jpg" alt="Testimonial Images">
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a id="team-tab2-tab" data-bs-toggle="tab" data-bs-target="#team-tab2" role="tab" aria-controls="team-tab2" aria-selected="false">
                                    <div class="rbt-team-thumbnail">
                                        <div class="thumb">
                                            <img src="assets/team-02.jpg" alt="Testimonial Images">
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a id="team-tab3-tab" data-bs-toggle="tab" data-bs-target="#team-tab3" role="tab" aria-controls="team-tab3" aria-selected="false">
                                    <div class="rbt-team-thumbnail">
                                        <div class="thumb">
                                            <img src="assets/team-03.jpg" alt="Testimonial Images">
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a id="team-tab4-tab" data-bs-toggle="tab" data-bs-target="#team-tab4" role="tab" aria-controls="team-tab4" aria-selected="false">
                                    <div class="rbt-team-thumbnail">
                                        <div class="thumb">
                                            <img src="assets/team-04.jpg" alt="Testimonial Images">
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a id="team-tab5-tab" data-bs-toggle="tab" data-bs-target="#team-tab5" role="tab" aria-controls="team-tab5" aria-selected="false">
                                    <div class="rbt-team-thumbnail">
                                        <div class="thumb">
                                            <img src="assets/team-05.jpg" alt="Testimonial Images">
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a id="team-tab6-tab" data-bs-toggle="tab" data-bs-target="#team-tab6" role="tab" aria-controls="team-tab6" aria-selected="false">
                                    <div class="rbt-team-thumbnail">
                                        <div class="thumb">
                                            <img src="assets/team-06.jpg" alt="Testimonial Images">
                                        </div>
                                    </div>
                                </a>
                            </li>

                        </ul>
                        <!-- End Tab Content  -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Teacher Area -->

    


        



<!-- Start Testimonial Area   -->
     <section class="rbt-counterup-area bg-color-white rbt-section-gap">
        <div class="conter-style-2">
            <div class="container">
                <div class="row g-5 align-items-center">

                    <div class="col-lg-6 order-2 order-lg-1">
                        <div class="row row--30">
                            <!-- Start Single Counter  -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="rbt-counterup rbt-hover-03">
                                    <div class="inner">
                                        <div class="icon">
                                            <img src="assets/images/icons/counter-01.png" alt="Icons Images">
                                        </div>
                                        <div class="content">
                                            <h3 class="counter"><span class="odometer" data-count="500">00</span>
                                            </h3>
                                            <span class="subtitle">Learners &amp; counting</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Counter  -->

                            <!-- Start Single Counter  -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12 mt--60">
                                <div class="rbt-counterup rbt-hover-03">
                                    <div class="inner">
                                        <div class="icon">
                                            <img src="assets/images/icons/counter-02.png" alt="Icons Images">
                                        </div>
                                        <div class="content">
                                            <h3 class="counter"><span class="odometer" data-count="800">00</span>
                                            </h3>
                                            <span class="subtitle">Courses & Video</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Counter  -->

                            <!-- Start Single Counter  -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12 mt_mobile--40">
                                <div class="rbt-counterup rbt-hover-03 transform-sm-none" data-parallax='{"x": 0, "y": -60}'>
                                    <div class="inner">
                                        <div class="icon">
                                            <img src="assets/images/icons/counter-03.png" alt="Icons Images">
                                        </div>
                                        <div class="content">
                                            <h3 class="counter"><span class="odometer" data-count="1000">00</span>
                                            </h3>
                                            <span class="subtitle">Certified Students</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Counter  -->

                            <!-- Start Single Counter  -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12 mt--60 mt_mobile--40">
                                <div class="rbt-counterup rbt-hover-03 transform-sm-none" data-parallax='{"x": 0, "y": 60}'>
                                    <div class="inner">
                                        <div class="icon">
                                            <img src="assets/images/icons/counter-04.png" alt="Icons Images">
                                        </div>
                                        <div class="content">
                                            <h3 class="counter"><span class="odometer" data-count="100">00</span>
                                            </h3>
                                            <span class="subtitle">Certified Students</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Counter  -->
                        </div>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2">
                        <div class="inner pl--50 pl_sm--0 pl_md--0">
                            <div class="section-title text-start">
                                <span class="subtitle bg-pink-opacity">Why Choose Us</span>
                                <h2 class="title">Creating A Community Of <br /> Life Long Learners.</h2>
                                <p class="description has-medium-font-size mt--20 mb--0">There are many variations of passages of the Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                            </div>

                            <div class="rbt-feature-wrapper mt--30">

                                <div class="rbt-feature feature-style-1 align-items-center">
                                    <div class="icon bg-primary-opacity">
                                        <i class="feather-heart"></i>
                                    </div>
                                    <div class="feature-content">
                                        <h6 class="feature-title">Flexible Classes</h6>
                                    </div>
                                </div>

                                <div class="rbt-feature feature-style-1 align-items-center">
                                    <div class="icon bg-secondary-opacity">
                                        <i class="feather-book"></i>
                                    </div>
                                    <div class="feature-content">
                                        <h6 class="feature-title">Learn From Anywhere</h6>
                                    </div>
                                </div>

                                <div class="rbt-feature feature-style-1 align-items-center">
                                    <div class="icon bg-pink-opacity">
                                        <i class="feather-aperture"></i>
                                    </div>
                                    <div class="feature-content">
                                        <h6 class="feature-title">Unlimited Resources With Strong Support</h6>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    
        <!-- Start Gallery Area -->
  

                    <div class="rbt-gallery-area">
                        <div class="container-fluid"> 
                            <div class="row g-0 parent-gallery-container">
                                <a href="assets/images/gallery/gallery-thumb-01.jpg" class="child-gallery-single col-lg-2 col-md-4 col-sm-6 col-6">
                                    <div class="rbt-gallery">
                                        <img class="w-100" src="assets/gallery-thumb-01.jpg" alt="Gallery Images">
                                    </div>
                                </a>
                                <a href="assets/images/gallery/gallery-thumb-02.jpg" class="child-gallery-single col-lg-2 col-md-4 col-sm-6 col-6">
                                    <div class="rbt-gallery">
                                        <img class="w-100" src="assets/gallery-thumb-02.jpg" alt="Gallery Images">
                                    </div>
                                </a>
                                <a href="assets/images/gallery/gallery-thumb-03.jpg" class="child-gallery-single col-lg-2 col-md-4 col-sm-6 col-6">
                                    <div class="rbt-gallery">
                                        <img class="w-100" src="assets/gallery-thumb-03.jpg" alt="Gallery Images">
                                    </div>
                                </a>
                                <a href="assets/images/gallery/gallery-thumb-04.jpg" class="child-gallery-single col-lg-2 col-md-4 col-sm-6 col-6">
                                    <div class="rbt-gallery">
                                        <img class="w-100" src="assets/gallery-thumb-04.jpg" alt="Gallery Images">
                                    </div>
                                </a>
                                <a href="assets/images/gallery/gallery-thumb-05.jpg" class="child-gallery-single col-lg-2 col-md-4 col-sm-6 col-6">
                                    <div class="rbt-gallery">
                                        <img class="w-100" src="assets/gallery-thumb-05.jpg" alt="Gallery Images">
                                    </div>
                                </a>
                                <a href="assets/images/gallery/gallery-thumb-06.jpg" class="child-gallery-single col-lg-2 col-md-4 col-sm-6 col-6">
                                    <div class="rbt-gallery">
                                        <img class="w-100" src="assets/gallery-thumb-06.jpg" alt="Gallery Images">
                                    </div>
                                </a>
                                <a href="assets/images/gallery/gallery-thumb-07.jpg" class="child-gallery-single col-lg-2 col-md-4 col-sm-6 col-6">
                                    <div class="rbt-gallery">
                                        <img class="w-100" src="assets/gallery-thumb-07.jpg" alt="Gallery Images">
                                    </div>
                                </a>
                                <a href="assets/images/gallery/gallery-thumb-08.jpg" class="child-gallery-single col-lg-2 col-md-4 col-sm-6 col-6">
                                    <div class="rbt-gallery">
                                        <img class="w-100" src="assets/gallery-thumb-08.jpg" alt="Gallery Images">
                                    </div>
                                </a>
                                <a href="assets/images/gallery/gallery-thumb-09.jpg" class="child-gallery-single col-lg-2 col-md-4 col-sm-6 col-6">
                                    <div class="rbt-gallery">
                                        <img class="w-100" src="assets/gallery-thumb-09.jpg" alt="Gallery Images">
                                    </div>
                                </a>
                                <a href="assets/images/gallery/gallery-thumb-10.jpg" class="child-gallery-single col-lg-2 col-md-4 col-sm-6 col-6">
                                    <div class="rbt-gallery">
                                        <img class="w-100" src="assets/gallery-thumb-10.jpg" alt="Gallery Images">
                                    </div>
                                </a>
                                <a href="assets/images/gallery/gallery-thumb-11.jpg" class="child-gallery-single col-lg-2 col-md-4 col-sm-6 col-6">
                                    <div class="rbt-gallery">
                                        <img class="w-100" src="assets/gallery-thumb-11.jpg" alt="Gallery Images">
                                    </div>
                                </a>
                                <a href="assets/images/gallery/gallery-thumb-12.jpg" class="child-gallery-single col-lg-2 col-md-4 col-sm-6 col-6">
                                    <div class="rbt-gallery">
                                        <img class="w-100" src="assets/gallery-thumb-12.jpg" alt="Gallery Images">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
          
       
                












<!-- Start Testimonial Area   -->
        
        <!-- End Testimonial Area   -->



        

    </main>


