<p style="color: green"><%= notice %></p>


                                    <!-- Product name-->
                                      <p>
                                        <strong>Name:</strong>
                                        <%= @workshop.name %>
                                      </p>
                                    <!-- description-->
                                      <p>
                                        <strong>Description:</strong>
                                        <%= @workshop.description %>
                                      </p>
                                    <!--Start date-->
                                      <p>
                                        <strong>Start_date:</strong>
                                        <%= @workshop.start_date %>
                                      </p>
                                    <!--Duration-->
                                      <p>
                                        <strong>Duration:</strong>
                                        <%= @workshop.duration %>
                                      </p>
                                    <!-- Product price-->
                                      <p>
                                        <strong>Price:</strong>
                                        <%= @workshop.price %>
                                      </p>
                                    <!-- Nombre d'inscrits à l'atelier -->
                                      <p>Nombre d'inscrits : <%= @workshop.users.count %></p>

                                      <%= button_to "S'inscrire à l'Atelier", class: "btn btn-primary", method: :post, remote: true %>
                                      <h3>Tags:</h3>
<% if @workshop.tags.any? %>
  <ul>
    <% @workshop.tags.each do |tag| %>
      <li><%= link_to tag.name, tag_path(tag) %></li>
    <% end %>
  </ul>
<% else %>
  <p>Cet atelier n'a pas de tags associés.</p>
<% end %>
<div>
<p>Nombre de likes : <%= @workshop.likes.count %></p>
<% if @workshop.likes.exists?(user: current_user) %>
<%= button_to 'Déliker', workshop_like_path(@workshop), method: :delete, class: "btn btn-warning" %>
<% else %>
<%= button_to 'Liker', workshop_like_path(@workshop), method: :post, class: "btn btn-primary" %>
<% end %>
  <%= link_to "Edit this workshop", edit_workshop_path(@workshop) %> |
  <%= link_to "Back to workshops", workshops_path %>
  <%= button_to "Destroy this workshop", @workshop, method: :delete %>
  <%= button_to "Payer", new_checkout_create_path(workshop_id: @workshop.id), method: :post, data: { turbo: false } %>
           
</div>
