<section class="my-account-section bg-color-white rbt-section-gap">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row g-5">
          <div class="col-lg-3 col-12">
            <div class="rbt-my-account-tab-button nav" role="tablist">
              <%= link_to 'Retour au Profil', user_path(current_user), class: "active" %>
              <%= link_to 'Vos Informations', edit_user_path(current_user) %>
            </div>
          </div>
          <div class="col-lg-9 col-12">

            <!-- EDIT  -->
            <%= render "devise/registrations/edit_form" %>
            <!-- fin EDIT -->

            
            <h3>Annuler mon compte</h3>

            <div>
              Le service ne vous plait plus?
              <br><%= link_to 'Contactez votre administrateur', contact_path, class: 'rbt-btn btn-sm btn-gradient btn-gradient-2' %>
            </div>

            <%= link_to "Retour", :back %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>





