<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  
  <body>
    <h1>Félicitations pour votre achat  !</h1>

    <p>
      Bonjour,
    </p>

    <p>
      Voici le contenu de votre commande n° <%= @order.id %>. <br>
      La totalité de votre commande est disponible dans votre Dashboard <a href="<%= @order_url%>">en cliquant sur ce lien</a>
    </p>
    </p>
        <table style="width: 100%">
     <thead>
        <tr>
          <th>Articles</th>
          <th>Prix</th>
        </tr>
       </thead>
       <tbody>
    <% @order.workshops.each do |workshop| %>
      <% workshop_url = @workshop_url + workshop.id.to_s %>
      <tr>
          <td>
            <a href="<%= workshop_url %>">
            <%= workshop.name %>
             </a>
          </td><td>
            <%= number_to_currency(workshop.price , unit: "€", separator: ",", format: "%n %u")%>
          </td>
        </tr>
    <% end %>
    </tbody>
     <tfoot>
      <tr>
        <th ><%= @order.amount %></th>
      </tr>
      </tfoot>
  </table>
    <p> 
      Cordialement,
    </p>

    <p> 
      Votre équipe Gestion des achats
    </p>
  </body>
</html> 