      <table class="table">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Email</th>
            <th>Rôle</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% users.each do |user| %>
            <tr>
              <td><%= user.firstname %> <%= user.lastname %></td>
              <td><%= user.email %></td>
              <td><%= user.creator? ? 'Créateur' : 'Utilisateur' %></td>
              <td>
                <% if !user.creator? && !user.created_workshops.any? %>
                <%= button_to "Supprimer", user_path(user), method: :delete, data: {turbo_method: :delete, confirm: "Êtes-vous sûr de vouloir supprimer cet utilisateur ?"}, class: "btn btn-danger"%>
               <% end %>
               <% if user.pending == true %>
               <%= button_to "Promouvoir en créateur", promote_to_creator_path(user_id: user.id), method: :patch, class: "btn btn-success"%>
               <%= button_to "Refuser la demande", deny_creator_path(user_id: user.id), method: :patch, class: "btn btn-danger"%>
               <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>