      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Rôle</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.firstname %> <%= user.lastname %></td>
              <td><%= user.email %></td>
              <td><%= user.creator ? 'Créateur' : '' %></td>
              <td>
              <% if current_admin %>
                
                <% if user.creator %>
                   <%= link_to "Voir", public_user_path(user), class: "btn btn-primary" %>
                <% end %>
                <! -- Le user ID = 1 est anonyme et ne peut être supprimé >
                 <% if user.id != 1 %>
                  <%= button_to "Supprimer", user_path(user), method: :delete, class: "btn btn-danger" %> 
                <% end %>
                  
              <% end %>
               <% if user.pending %>
               <%= button_to "Promouvoir en créateur", promote_to_creator_path(user_id: user.id), method: :patch, class: "btn btn-success"%>
               <%= button_to "Refuser la demande", deny_creator_path(user_id: user.id), method: :patch, class: "btn btn-danger"%>
               <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>