 <h2>Reviews by <%= @user.firstname %></h2>
  <% if @user.reviews.any? %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Workshops</th>
          <th scope="col">Avis</th>
          <th scope="col">Note</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @user.reviews.each do |review| %>
          <tr>
            <td><%= review.workshop.name %></td>
            <td><%= review.content[0...50]%><%= review.content.length > 50 ? "..." : "" %></td>
            <td><%= review.rating %></td>
            <td>
              
              <% if review.content.length > 50 %>
                <%= link_to "Lire", review, class: "btn btn-primary" %>
              <% end %>
              
              <% if user_signed_in? && current_user == @user %>
                <%= link_to "Edit", edit_review_path(review), class: "btn btn-secondary" %>
                <%= button_to "Destroy", review, method: :delete, class: "btn btn-danger" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
      <p>Aucun atelier créé pour le moment.</p>
    <% end %>