<%# TODO Ajouter une photo de profil %>

    <h3>Profil <%= @user.creator ? "Créateur" : "Utilisateur" %></h3>
    <div class='row'>
    <table class='col-lg-8'>
      <tbody>
        <tr>
          <td class="w-25"><strong>Prénom :</strong></td>
          <td><%= @user.firstname %></td>
        </tr>
        <tr>
          <td class="w-25"><strong>Nom :</strong></td>
          <td><%= @user.lastname %></td>
        </tr>
        <tr>
          <td class="w-25"><strong>Email :</strong></td>
          <td><%= current_user == @user ? @user.email : "*"* 10 %></td>
        </tr>
      </tbody>
    </table>
    <!-- Avatar -->
    <div class="account-details-form col-lg-4">
      <%if @user.avatar.attached?%>
        <%= image_tag @user.avatar, class: "rounded-4 w-100", alt: 'Avatar utilisateur' %>
      <%else%>
        <%= form_with(model: @user, class: "form") do |form| %>
          <% if @user.errors.any? %>
            <div class="alert alert-danger">
              <h2><%= pluralize(user.errors.count, "error") %>Les modifications n'ont pas pu etre sauvegardées:</h2>

              <ul>
                <% user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div>
            <%= form.label :avatar, class: 'm-auto'%>
            <%= form.file_field :avatar, value:  @user.avatar %>
            <%= form.submit "Enregistrer", class: "rbt-btn btn-sm btn-gradient border-0 m-auto" %>
        <% end %>
      <%end%>
    </div>

