<section class="my-account-section bg-color-white rbt-section-gap">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row g-5">

            <!-- SIDE MENU -->
            <%= render "users/side_menu" %>
            <!-- fin SIDE MENU -->

            <!-- CONTENU -->
            <div class="col-lg-9 col-12">
                <div class="tab-content" id="myaccountContent">
                    
                    <!-- PROFIL Utilisateur-->
                    <%= render "users/user_details" %>
                    <!--  fin PROFIL -->

                    <% if @user.creator %>
                        <!-- CREATED WORKSHOPS -->
                        <%= render partial: "workshops/user_created_workshops", locals: {user: @user} %>
                        <!--  fin CREATED WORKSHOPS  -->
                    <% end %>
                    
                    <% if user_signed_in? && current_user == @user %>
                        <!-- WORSHOPS inscriptions -->
                        <%= render partial: "workshops/index", locals: {workshops: @user.workshops} %>
                        <!-- fin WORSHOPS inscriptions -->

                        <!-- ORDERS -->
                        <%= render partial: "orders/index", locals: {orders: @user.orders} %>
                        <!-- fin ORDERS -->

                        <!-- AVIS -->
                        <%= render partial: "reviews/index", locals: {reviews: @user.reviews} %>
                        <!-- fin AVIS -->
                    
                    <% end %>
                    
                    <!-- fin CONTENU -->
                </div>
            </div>
            <!-- My Account Tab Content End -->
        </div>

      </div>

    </div>
  </div>
</section>

