<section class="my-account-section bg-color-white rbt-section-gap">
<% if current_user == @user %>
<div class="modal fade" id="mailModal" tabindex="-1" role="dialog" aria-labelledby="mailModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mailModalLabel">Messagerie</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'messages/user_mail' %>
      </div>
    </div>
  </div>
</div>
<% end %>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row g-5">
        <!-- MAIL -->
        <% if current_user == @user %>
        <%= link_to "#", class: "mail-icon-link", "data-bs-toggle": "modal", "data-bs-target": "#mailModal" do %>
        <img src="/assets/email.svg" class="icon">
        <% end %>
        <% end %>
        <!-- FIN MAIL -->
            <!-- SIDE MENU -->
            <%= render "users/side_menu" %>
            <!-- fin SIDE MENU -->

            <!-- CONTENU -->
            <div class="col-lg-9 col-12">
                <div class="tab-content" id="myaccountContent">
                    
                    <!-- PROFIL Utilisateur-->
                    <div class="tab-pane fade active show" id="profil" role="tabpanel">
                    <%= render "users/user_details" %>
                    </div>
                    <!--  fin PROFIL -->

                    
                    <!-- PARAMETRES D'ACCESSIBILITE -->
                    <div class="tab-pane fade" id="accessibility" role="tabpanel">
                    <%= render partial: 'settings/accessibility_settings', locals: { setting: current_user.setting } %>
                    </div>
                    <!-- fin PARAMETRES D'ACCESSIBILITE -->
                    

                    <% if @user.creator %>
                        <!-- CREATED WORKSHOPS -->
                        <div class="tab-pane fade" id="created_workshops" role="tabpanel">
                          <%= render partial: "workshops/user_created_workshops", locals: {workshops: @validated_workshops, drafts: false} %>
                        </div>
                        <!--  fin CREATED WORKSHOPS  -->

                        <!-- WORKSHOPS BROUILLON -->
                        <div class="tab-pane fade" id="draft_workshops" role="tabpanel">
                        <%= render partial: "workshops/user_created_workshops", locals: {workshops: @draft_workshops, drafts: true} %>
                        <!-- fin WORKSHOPS BROUILLON -->
                        </div>
                    <% else %>
                      <!-- DEVENIR CREATEUR -->
                      <div class="tab-pane fade" id="creator_send" role="tabpanel">
                        <%= render partial: "users/send_creator", locals: {user: @user} %>
                      </div>
                      <!-- fin DEVENIR CREATEUR -->
                    <%end%>
                    

                        <!-- WORSHOPS inscriptions -->
                        <div class="tab-pane fade" id="workshops" role="tabpanel">
                          <h3>Inscriptions</h3>
                          <%= render partial: "workshops/index", locals: {workshops: @user.workshops} %>
                        </div>
                        <!-- fin WORSHOPS inscriptions -->

                        <!-- ORDERS -->
                        <div class="tab-pane fade" id="orders" role="tabpanel">
                          <h3>Commandes</h3>
                          <%= render partial: "orders/index", locals: {orders: @user.orders} %>
                        </div>
                        <!-- fin ORDERS -->

                        <!-- AVIS -->
                        <div class="tab-pane fade" id="reviews" role="tabpanel">
                          <h3>Avis</h3>
                          <%= render partial: "reviews/index", locals: {reviews: @user.reviews} %>
                        </div>
                        <!-- fin AVIS -->
                    
                    <!-- fin CONTENU -->
                </div>
            </div>
            <!-- My Account Tab Content End -->
        </div>

      </div>

    </div>
  </div>
</section>