<section class="my-account-section bg-color-white rbt-section-gap">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row g-5">

            <!-- SIDE MENU -->
            <div class="col-lg-3 col-12">
                <div class="rbt-my-account-tab-button nav" role="tablist">
                    
                    <a href="#profil" class="active" data-bs-toggle="tab">Profil</a>
                    <a href="#created_workshops" data-bs-toggle="tab">Workshops Créés</a>
                    
                    <% if current_user == @user %>
                      <a href="#workshops" data-bs-toggle="tab">Workshops (inscriptions)</a>
                      <a href="#reviews" data-bs-toggle="tab">Avis</a>
                      <a href="#orders" data-bs-toggle="tab">Commandes</a>
                      <a href="#edit" data-bs-toggle="tab">Modifier mes infos</a>
                      <a href="login.html">Déconnexion</a>
                    <% end %>
                    
          
                    

                    
                </div>
            </div>
            <!-- fin SIDE MENU -->

            <!-- CONTENU -->
            <div class="col-lg-9 col-12">
                <div class="tab-content" id="myaccountContent">
                    
                    <!-- PROFIL -->
                    <div class="tab-pane fade active show" id="profil" role="tabpanel">
                        <div class="rbt-my-account-inner">
                            <h3>Profil</h3>
                            <%= render "users/user_details" %>
                        </div>
                    </div>
                    <!--  fin PROFIL -->

                    <!-- CREATED WORKSHOPS -->
                    <div class="tab-pane fade" id="created_workshops" role="tabpanel">
                        <div class="rbt-my-account-inner">
                            <h3>Workshops Créés</h3>
                            <%= render partial: "workshops/user_created_workshops", locals: {user: @user} %>
                        </div>
                    </div>
                    <!--  fin CREATED WORKSHOPS  -->

                    <% if current_user == @user %>
                      <!-- WORSHOPS inscriptions -->
                      <div class="tab-pane fade" id="workshops" role="tabpanel">
                          <div class="rbt-my-account-inner">
                              <h3>Workshops (inscriptions)</h3>
                              <%= render partial: "orders/user_orders", locals: {orders: @user.orders} %>
                          </div>
                      </div>
                      <!-- fin WORSHOPS inscriptions -->

                      <!-- ORDERS -->
                      <div class="tab-pane fade" id="orders" role="tabpanel">
                          <div class="rbt-my-account-inner">
                              <h3>Commandes</h3>
                              <%= render partial: "orders/user_orders", locals: {orders: @user.orders} %>
                          </div>
                      </div>
                      <!-- fin ORDERS -->

                      <!-- AVIS -->
                      <div class="tab-pane fade" id="reviews" role="tabpanel">
                          <div class="rbt-my-account-inner">
                              <h3>Avis</h3>
                              <%= render partial: "orders/user_orders", locals: {orders: @user.orders} %>
                          </div>
                      </div>
                      <!-- fin AVIS -->
                    
                    <% end %>
                    
                    <!-- fin CONTENU -->
                </div>
            </div>
            <!-- My Account Tab Content End -->
        </div>

      </div>

    </div>
  </div>
</div>

