<div class="d-flex justify-content-center mt-5">
  <div class="rbt-contact-form contact-form-style-1 w-50">
    <div class="section-title text-center"> <!-- Correction de la classe text-start en text-center -->
      <span class="subtitle bg-primary-opacity">Mot de passe oublié?</span>
    </div>
    <h3 class="title text-center">Réinitialiser le mot de passe</h3> <!-- Ajout de la classe text-center -->
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="form-submit-group">
        <%= f.submit "Envoyez-moi les instructions de réinitialisation du mot de passe", class: "rbt-btn btn-md btn-gradient hover-icon-reverse w-100 border-0" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>


