<h3>Catégories</h3>
    <% if categories.any? %>
  <div class="rbt-my-account-table table-responsive">
    <table class="table table-bordered text-center">
      <thead class="thead-light">
          <tr>
            <th>ID</th>
            <th>Icone</th>
            <th>Nom</th>
            <th>Nombre de cours</th>
            <th >Actions</th>
          </tr>
        </thead>
        <tbody>
          <% categories.each do |category| %>
            <tr>
              <td><%= category.id %></td>
              <td>
                <!-- icon -->
                <%if category.icon.attached?%>
                  <%= image_tag category.icon, width: "30px", alt: category.name + " icon"  %>
                <%end%>
              </td>
              <td><%= category.name %></td>
              <td><%= category.workshops.count %></td>
              <td>
                <%= link_to 'Voir', category_path(category.id), class: "rbt-btn btn-sm" %>
                <%= link_to 'Modifier', edit_category_path(category.id), class: "rbt-btn btn-sm" %>
                <% if category.workshops.count == 0 %>
                  <%= button_to "Supprimer", category, method: :delete, class: "rbt-btn btn-sm mt-2" %>
                <% end %>

              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% else %>
      <p>Aucune catégorie pour le moment.</p>
    <% end %>
<div class="mt-2">
  <%= link_to "Nouvelle Catégorie", new_category_path, class: "rbt-btn btn-gradient" %>
</div>