
    <h3>Avis</h3>
    <% if reviews.any? %>
      <div class="rbt-my-account-table table-responsive text-center">
        <table class="table table-bordered">
          <thead class="thead-light">
            <tr>
              <th scope="col">Workshops</th>
              <% if admin_signed_in? %>
                <th>Utilisateur</td>
              <% end %>
              <th scope="col">Avis</th>
              <th scope="col">Note</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% reviews.each do |review| %>
              <tr>
                <td><%= review.workshop.name %></td>
                <% if admin_signed_in? %>
                <td><%= review.user.email %></td>
                <% end %>
                <td><%= review.content[0...30] + "..." %><%= review.content.length > 50 ? "..." : "" %></td>
                <td><%= review.rating %></td>
                <td>
                  <%= link_to "Voir", review, class: "rbt-btn btn-sm" %>
                  <% if user_signed_in? && current_user == review.user %>
                    <%= link_to "Modifier", edit_review_path(review), class: "rbt-btn btn-sm btn-secondary" %>
                    <%= button_to "Supprimer", review, method: :delete, class: "rbt-btn btn-sm btn-violet mt-2" %>
                  <% end %>
                </td>
              </tr>
            <% end %>
      </tbody>
    </table>
<% else %>
  <p>Vous n'avez donné aucun avis pour le moment.</p>
<% end %>