<div class="rbt-sticky-placeholder"></div>

<div class="rbt-header-wrapper header-space-betwween header-sticky">
    <div class="container-fluid">
        <div class="mainbar-row rbt-navigation-center align-items-center justify-content-center" style="padding-left: 15px;"> <!-- Modification ici pour centrer les onglets dans la navbar -->
            <div class="header-left rbt-header-content d-none d-lg-block">
                <div class="header-info">
                    <!-- Regular Logo -->
                    <div class="logo">
                        <a href="index.html">
                            <%= link_to(root_path) do %>
                                <%= image_tag("RAYM_logo.png", alt: "RAYM_logo_white", style: "height: 30px; margin-right: 290px;") %> <!-- Ajout d'une marge à droite du logo -->
                            <% end %>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Navbar -->
            <nav class="mainmenu-nav navbar navbar-expand-lg">
                <!-- Toggle Button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navbar Tabs -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="mainmenu centered-menu navbar-nav justify-content-center"> <!-- Modification ici pour centrer les onglets -->

                        <!-- Start Home -->
                        <li class="nav-item">
                            <%= link_to 'Accueil', root_path, class: "nav-link"%>
                        </li>

                        <!-- Start Categories -->
                        <li class="with-megamenu has-menu-child-item position-static">
                            <a href="#">Catégories <i class="fa-solid fa-chevron-down mx-2"></i></a>
                            <div class="rbt-megamenu menu-skin-raym-gradient">
                                <div class="wrapper">
                                    <div class="row row--15 home-plesentation-wrapper single-dropdown-menu-presentation">
                                        <% Category.all.each do |category| %>
                                            <!-- Start Single Demo -->
                                            <div class="col-lg-12 col-xl-2 col-xxl-2 col-md-12 col-sm-12 col-12 single-mega-item d-flex justify-content-center">
                                                <div class="demo-single raym-icon" >
                                                    <div class="inner">
                                                        <div class="thumbnail">
                                                            <a href="<%= category_path(category) %>">
                                                                <%= image_tag category.icon, alt: "Icons Images"%>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <% end %>
                                    </div>
                                    <div class="row">
                                        <!-- Youtube Button -->
                                        <div class="col-lg-12">
                                            <div class="btn-wrapper">
                                                <a class="rbt-btn btn-gradient hover-icon-reverse square btn-xl w-100 text-center mt--30 hover-transform-none" href="https://www.youtube.com/channel/UCQPscnhJYRnYhBPOiLi3-gQ">
                                                    <span class="icon-reverse-wrapper">
                                                        <span class="btn-text">
                                                            Nous sommes sur YouTube ! Live - Chat - Tuto
                                                        </span>
                                                        <span class="btn-icon"><i class="fas fa-arrow-right"></i></span>
                                                        <span class="btn-icon"><i class="fas fa-arrow-right"></i></span>
                                                        <i class="fab fa-youtube mb-2" style="color: #ff0000; font-size: 40px;"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- fin Youtube Button -->
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- End Categories -->

                        <!-- Start Workshops -->
                        <li class="nav-item">
                            <%= link_to 'Cours', workshops_path(event: false), class: "nav-link"%>
                        </li>
                        <li class="nav-item">
                            <%= link_to 'Ateliers', workshops_path(event: true), class: "nav-link"%>
                        </li>
                        <!-- End Workshops -->

                        <li class="nav-item">
                            <%= link_to 'Contact', contact_path, class: "nav-link"%>
                        </li>

                        <!-- Start Admin & User Dropdown Tabs -->
                        <!-- MENU ADMINISTRATEUR -->
                        <% if admin_signed_in? %>
                            <li class="nav-item mt-5 dropdown">
                                <div class="header-right">
                                    <ul class="quick-access">
                                        <li class="access-icon">
                                            <i class="feather-search"></i>
                                        </li>
                                        <!-- Nom du Compte: Administrateur-->
                                        <li class="account-access rbt-user-wrapper ">
                                            <%= image_tag "user.svg", class: "icon", alt: "icon"%>
                                            <a href="#"><i class="feather-user"></i><strong>Administrateur</strong></a>
                                            <!-- Menu déroulant: Administrateur -->
                                            <div class="rbt-user-menu-list-wrapper">
                                                <div class="inner">
                                                    <!-- Admin Name -->
                                                    <div class="rbt-user-profile">
                                                        <div class="user-info">
                                                            <span class="name" style="font-weight: bold"><%= current_admin.email %></span>
                                                        </div>
                                                    </div>
                                                    <!--  Liens -->
                                                    <ul class="user-list-wrapper">
                                                        <li></li>
                                                        <!--  Dashboard -->
                                                        <li>
                                                            <i class="fa-solid fa-house"></i>
                                                            <%= link_to "Dashboard", dashboard_path %>
                                                        </li>

                                                        <!-- déconnexion   -->
                                                        <li>
                                                            <i class="fa-solid fa-right-from-bracket"></i>
                                                            <%= button_to "Se déconnecter", destroy_admin_session_path, method: :delete, data: {turbo_method: :delete}, class: "dropdown-item"%>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        <% end %>
                        <!-- MENU UTILISATEUR -->
                        <li class="nav-item mt-5 dropdown">
                            <div class="header-right">
                                <ul class="quick-access">
                                    <li class="access-icon">
                                        <i class="feather-search"></i>
                                    </li>
                                    <!-- Nom du Compte: Utilisateur-->
                                    <li class="account-access rbt-user-wrapper ">
                                        <% if user_signed_in? %>
                                            <%= image_tag "user.svg", class: "icon", alt: "icon" %>
                                            <a href="#"><i class="feather-user"></i><strong>
                                                <%= current_user.firstname.present? ? current_user.firstname : "Utilisateur" %>
                                            </strong></a>
                                        <% else %>
                                            <%= image_tag "log-in.svg", class: "icon", alt: "log-in icon" %>
                                            <a href="#"><i class="feather-user"></i><strong>Connexion</strong></a>
                                        <% end %>

                                        <!-- Menu déroulant: Utilisateur -->
                                        <div class="rbt-user-menu-list-wrapper dropdown" style="">
                                            <div class="inner">
                                                <!--  UTILISATEUR connecté -->
                                                <% if user_signed_in? %>
                                                    <!--  Liens user connecté -->
                                                    <ul class="user-list-wrapper" >
                                                        <li></li>
                                                        <li>
                                                            <i class="fa-solid fa-house"></i>
                                                            <%= link_to "Profil", user_path(current_user) %>
                                                        </li>

                                                        <!--  Créateur: nouveau workshop -->
                                                        <% if current_user.creator %>
                                                            <li>
                                                                <i class="fa-solid fa-screwdriver-wrench"></i>
                                                                <%= link_to "Créer un atelier", new_workshop_path %>
                                                            </li>
                                                            <li>
                                                                <i class="fa-solid fa-user"></i>
                                                                <%= link_to "Profil public", public_user_path(current_user) %>
                                                            </li>
                                                        <% end %>

                                                        <!-- Account settings -->
                                                        <li>
                                                            <i class="fa-solid fa-gear"></i>
                                                            <%= link_to "Éditer mes données", edit_user_path(current_user) %>
                                                        </li>
                                                        <!-- déconnexion   -->
                                                        <li>
                                                            <i class="fa-solid fa-right-from-bracket"></i>
                                                            <%= button_to "Se déconnecter", destroy_user_session_path, method: :delete, data: {turbo_method: :delete}, class: "dropdown-item"%>
                                                        </li>
                                                    </ul>
                                                <% else %>
                                                    <!-- VISITEUR non contecté -->
                                                    <!--  Liens Connexion/inscription -->
                                                    <ul class="user-list-wrapper">
                                                        <li></li>
                                                        <!--  Connexion -->
                                                        <li>
                                                            <%= link_to "Se connecter", new_user_session_path %>
                                                        </li>

                                                        <!-- inscription -->
                                                        <li>
                                                            <%= link_to "S'inscrire", new_user_registration_path %>
                                                        </li>
                                                    </ul>
                                                <% end %>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>

<!-- End Menu-->
