<div class="rbt-sticky-placeholder"></div>

    <div class="rbt-header-wrapper header-space-betwween header-sticky">
        <div class="container-fluid">
            <div class="mainbar-row rbt-navigation-center align-items-center">
                <div class="header-left rbt-header-content">
                    <div class="header-info">
                        <div class="logo">
                            <a href="index.html">
                                <%= link_to(root_path) do %>
                                    <%= image_tag("RAYM_logo.png", alt: "RAYM_logo_white", style: "height: 30px") %>
                                <% end %>
                            </a>
                        </div>
                    </div>
                </div>

                <nav class="mainmenu-nav navbar navbar-expand-lg">
                        <ul class="mainmenu centered-menu navbar-nav mr-auto"> 

                            <li class="nav-item">
                                <%= link_to 'Accueil', root_path, class: "nav-link"%>
                            </li>

                            <!-- Start Categories  -->
                            <li class="with-megamenu has-menu-child-item position-static">
                            <a href="#">Catégories <i class="fa-solid fa-chevron-down mx-2"></i></a>
                            <div class="rbt-megamenu menu-skin-gradient">
                                <div class="wrapper">
                                    <div class="row row--15 home-plesentation-wrapper single-dropdown-menu-presentation">
                                        <% Category.all.each do |category| %>
                                            <!-- Start Single Demo  -->
                                            <div class="col-lg-12 col-xl-2 col-xxl-2 col-md-12 col-sm-12 col-12 single-mega-item d-flex justify-content-center">
                                                <div class="demo-single raym-icon" >
                                                    <div class="inner">
                                                        <div class="thumbnail">
                                                            <a href="<%= category_path(category) %>">
                                                                <%= image_tag category.icon, alt: "Icons Images"%>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- End Categories -->


                        <!-- Start Workshops -->   
                            <li class="nav-item">
                                <%= link_to 'Cours', workshops_path(event: false), class: "nav-link"%>
                            </li>
                            <li class="nav-item">
                                <%= link_to 'Ateliers', workshops_path(event: true), class: "nav-link"%>
                            </li>
                        <!-- End Workshops -->  

                            <li class="nav-item">
                                <%= link_to 'Contact', contact_path, class: "nav-link"%>
                            </li>

                            <%# MENU ADMINISTRATEUR %>
                            <% if admin_signed_in? %>
                            <li class="nav-item mt-5 dropdown">
                                <%= render "layouts/admin_menu" %>
                            <% end %>
                            </li>
                            <li class="nav-item mt-5 dropdown">
                                <%# MENU UTILISATEUR %>
                                <%= render "layouts/user_menu" %>
                            </li>
                        </ul>
                </nav>    
            </div>
        </div>
    </div>
