<div class="rbt-sticky-placeholder"></div>

<div class="rbt-header-wrapper header-space-betwween header-sticky">
    <div class="container-fluid">
        <div class="mainbar-row rbt-navigation-center align-items-center justify-content-center" style="padding-left: 15px;"> 
            <div class="header-left rbt-header-content d-none d-xl-block"> 
                <div class="header-info">
                    <!-- Regular Logo -->
                    <div class="logo d-none d-lg-block">
                        <%= link_to(root_path) do %>
                            <%= image_tag("RAYM_logo.png", alt: "RAYM_logo_white", style: "height: 30px; margin-right: 290px;") %>
                        <% end %>
                    </div>
                    <!-- Small Logo for the Toggle Menu-->
                    <div class="logo d-lg-none">
                        <%= link_to(root_path) do %>
                            <%= image_tag("RAYM_favicon.png", alt: "RAYM_logo_white", style: "height: 40px") %>
                        <% end %>
                    </div>
                </div>
            </div>

            <!-- Navbar -->
            <nav class="mainmenu-nav navbar navbar-expand-xl"> 
                <!-- Toggle Button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navbar Tabs -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="mainmenu centered-menu navbar-nav justify-content-center"> 

                        <!-- Start Home -->
                        <li class="nav-item">
                            <%= link_to 'Accueil', root_path, class: "nav-link"%>
                        </li>

                        <!-- Start Categories -->
                        <li class="with-megamenu has-menu-child-item position-static">
                            <a href="#">Catégories <i class="fa-solid fa-chevron-down mx-2"></i></a>
                            <div class="rbt-megamenu menu-skin-raym-gradient">
                                <div class="wrapper">
                                    <div class="row row--15 home-plesentation-wrapper single-dropdown-menu-presentation">
                                        <% Category.all.each do |category| %>
                                            <!-- Start Single Demo -->
                                            <div class="col-lg-12 col-xl-2 col-xxl-2 col-md-12 col-sm-12 col-12 single-mega-item d-flex justify-content-center">
                                                <div class="demo-single raym-icon" >
                                                    <div class="inner">
                                                        <div class="thumbnail">
                                                            <a href="<%= category_path(category) %>">
                                                                <%= image_tag category.icon, alt: "Icons Images"%>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <% end %>
                                    </div>
                                    <div class="row">
                                        <!-- Youtube Button -->
                                        <div class="col-lg-12">
                                            <div class="btn-wrapper">
                                                <a class="rbt-btn btn-gradient hover-icon-reverse square btn-xl w-100 text-center mt--30 hover-transform-none" href="https://www.youtube.com/channel/UCQPscnhJYRnYhBPOiLi3-gQ">
                                                    <span class="icon-reverse-wrapper">
                                                        <span class="btn-text">
                                                            Nous sommes sur YouTube ! Live - Chat - Tuto
                                                        </span>
                                                        <span class="btn-icon"><i class="fas fa-arrow-right"></i></span>
                                                        <span class="btn-icon"><i class="fas fa-arrow-right"></i></span>
                                                        <i class="fab fa-youtube mb-2" style="color: #ff0000; font-size: 40px;"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- End Youtube Button -->
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- End Categories -->

                        <!-- Start Workshops -->
                        <li class="nav-item">
                            <%= link_to 'Cours', workshops_path(event: false), class: "nav-link"%>
                        </li>
                        <li class="nav-item">
                            <%= link_to 'Ateliers', workshops_path(event: true), class: "nav-link"%>
                        </li>
                        <!-- End Workshops -->

                        <!-- Start Contact -->
                        <li class="nav-item">
                            <%= link_to 'Contact', contact_path, class: "nav-link"%>
                        </li>
                        <!-- End Contact -->

                        <!-- Start Admin & User Dropdown Tabs -->
                        <!-- MENU ADMINISTRATEUR -->
                        <% if admin_signed_in? %>
                            <li class="nav-item mt-5 dropdown">
                                <%= render "layouts/admin_menu" %>
                            </li>
                        <% end %>
                        <!-- MENU UTILISATEUR -->
                        <li class="nav-item mt-5 dropdown">
                            <%= render "layouts/user_menu" %>
                        </li>
                        <!-- End Admin & User Dropdown Tabs -->
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>

<!-- End Menu-->

