<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
     <%= link_to 'RayMote IT', root_path, class: "navbar-brand"%>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to 'Workshops', root_path, class: "nav-link"%>
        </li>
        <li class="nav-item">
        <%# TODO lien à changer pour contact_path %>
          <%= link_to 'Contact', root_path, class: "nav-link"%>
        </li>
       <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.firstname %></a>
          <div class="dropdown-menu">
            <%= link_to "Mes commandes", orders_path, class: "dropdown-item" %>
            <%# TODO liens à changer %>
            <%= link_to "Mes Workshops (achetés) - todo", workshops_path, class: "dropdown-item" %>
            <%= link_to "Mes Reviews - todo", root_path, class: "dropdown-item" %>
            
            <% if current_user.creator %>
              <div class="dropdown-divider">---</div>
              <%= link_to "Créer Workshop", new_workshop_path, class: "dropdown-item"  %>
              <%= link_to "Mes Workshops (créés)  - todo", workshops_path, class: "dropdown-item"  %>
            <% end %>
            <div class="dropdown-divider">---</div>
            <%= link_to "Voir mon profil", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "Éditer mon profil", edit_user_registration_path, class: "dropdown-item" %>
            <%= button_to "Se déconnecter", destroy_user_session_path, method: :delete, data: {turbo_method: :delete}, class: "dropdown-item"%>
          </div>
        </li>
        <% else %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">UTILISATEUR</a>
          <div class="dropdown-menu">
            <%= link_to "Se connecter", new_user_session_path, class: "dropdown-item" %>
            <%= link_to "S'inscrire", new_user_registration_path, class: "dropdown-item" %>
          </div>
        </li>
        <% end %>
        
      </ul>
    </div>
  </div>
</nav>