<header class="rbt-header rbt-header-10">
    <div class="rbt-sticky-placeholder"></div>

    <div class="rbt-header-wrapper header-space-betwween header-sticky">
        <div class="container-fluid">
            <div class="mainbar-row rbt-navigation-center align-items-center">
                <div class="header-left rbt-header-content">
                    <div class="header-info">
                        <div class="logo">
                            <a href="index.html">
                                <%= link_to(root_path) do %>
                                    <%= image_tag("RAYM_logo.png", alt: "RAYM_logo_white", style: "height: 30px") %>
                                <% end %>
                            </a>
                        </div>
                    </div>
                </div>

                <nav class="mainmenu-nav">
                    <ul class="mainmenu centered-menu"> <!-- class for center the tabs -->
                        <li class="">
                            <%= link_to 'Accueil', root_path, class: "nav-link"%>
                        </li>
                        <li class="">
                            <a href="#">Cours
                                <i class=""></i>
                            </a>
                            <!-- Start Cours -->
                        </li>
                        <li class="">
                            <%= link_to 'Ateliers', workshops_path, class: "nav-link"%>
                        </li>
                        <li class="">
                            <%= link_to 'Contact', contact_path, class: "nav-link"%>
                        </li>
                    </ul>
                </nav>
                <%# MENU UTILISATEUR %>
                <%= render "layouts/user_menu" %>

                <%# MENU ADMINISTRATEUR %>
                
                <% if admin_signed_in? %>
                    <%= render "layouts/admin_menu" %>
                <% end %>
                
        </div>
    </div>
</header>
