<div class="rbt-sticky-placeholder"></div>

<div class="rbt-header-wrapper header-space-between header-sticky">
    <div class="container-fluid">
        <div class="mainbar-row rbt-navigation-center align-items-center">
            <div class="header-left rbt-header-content">
                <div class="header-info">
                    <!-- Logo régulier -->
                    <div class="logo d-none d-lg-block" id="top">
                        <%= link_to root_path do %>
                        <%= image_tag("RAYM_logo.png", alt: "Logo RAYM", style: "height: 30px;") %>
                        <% end %>
                    </div>
                </div>
            </div>

            <!-- Navbar -->
            <nav class="mainmenu-nav navbar navbar-expand-lg">

                <!-- Toggle Button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <%= image_tag("RAYM_favicon.png", alt: "RAYM_logo_white", style: "height: 40px") %>
                </button>

                <!-- Navbar Tabs -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="mainmenu centered-menu navbar-nav mr-auto">

                        <!-- Start Home -->
                        <li class="nav-item">
                            <%= link_to 'Accueil', root_path, class: "nav-link"%>
                        </li>

                        <!-- Start Categories -->
                        <li class="with-megamenu has-menu-child-item position-static">
                            <a href="#">Catégories <i class="fa-solid fa-chevron-down mx-2"></i></a>
                            <div class="rbt-megamenu menu-skin-raym-gradient">
                                <div class="wrapper">
                                    <div class="row row--15 home-plesentation-wrapper single-dropdown-menu-presentation">
                                        <% Category.all.each do |category| %>
                                        <!-- Start Single Demo -->
                                        <div class="col-lg-12 col-xl-2 col-xxl-2 col-md-12 col-sm-12 col-12 single-mega-item d-flex justify-content-center">
                                            <div class="demo-single raym-icon">
                                                <div class="d-flex justify">
                                                    <div class="thumbnail">
                                                        <a href="<%= category_path(category) %>">
                                                            <%= image_tag category.icon, alt: "Icons Images"%>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% end %>
                                    </div>
                                    <div class="row">

                                    <!-- Youtube Button -->
                                    <div class="col-lg-12">
                                        <div class="btn-wrapper">
                                            <a class="rbt-btn btn-gradient hover-icon-reverse square btn-xl w-100 text-center mt--30 hover-transform-none" href="https://www.youtube.com/channel/UCQPscnhJYRnYhBPOiLi3-gQ">
                                                <span class="icon-reverse-wrapper">
                                                    <span class="btn-text">
                                                        Nous sommes sur YouTube ! Live - Chat - Tuto
                                                    </span>
                                                    <span class="btn-icon"><i class="fas fa-arrow-right"></i></span>
                                                    <span class="btn-icon"><i class="fas fa-arrow-right"></i></span>
                                                    <i class="fab fa-youtube mb-2" style="color: #ff0000; font-size: 40px;"></i>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>      
                        <!-- End Categories -->


                        <!-- Start Workshops -->
                        <li class="nav-item">
                            <%= link_to 'Cours', workshops_path(event: false), class: "nav-link"%>
                        </li>
                        <li class="nav-item">
                            <%= link_to 'Ateliers', workshops_path(event: true), class: "nav-link"%>
                        </li>
                        <!-- End Workshops -->

                        <!-- Start Admin & User Dropdown Tabs -->
                        <li class="nav-item">
                            <%= link_to 'Contact', contact_path, class: "nav-link"%>
                        </li>

                        <%# MENU ADMINISTRATEUR %>
                        <% if admin_signed_in? %>
                        <li class="nav-item mt-5 mr-auto dropdown">
                            <%= render "layouts/admin_menu" %>
                        <% end %>
                        </li>
                        <li class="nav-item mt-5 mr-auto dropdown">
                            <%# MENU UTILISATEUR %>
                            <%= render "layouts/user_menu" %>
                        </li>
                    </ul>
            </nav>
        </div>
    </div>
</div>

<!-- End Menu -->

<!-- JS for Toggle Menu -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var navbarToggle = document.querySelector(".navbar-toggler");
        var navbarMenu = document.querySelector(".navbar-collapse");

        navbarToggle.addEventListener("click", function() {
            navbarMenu.classList.toggle("show");
            document.body.classList.toggle("toggle-navbar-open");
        });
    });
</script>
<!-- End JS for Toggle Menu -->
